<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hero-ObjectiveC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64F079931E346D94005331E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64F079AC1E346D94005331E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64F079B71E346D94005331E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
